{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewsHub</title>

  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'css/HF.css'%}?v=123">
</head>

<body>

<div class="page-wrapper">

  <!-- Breaking News -->
  <div class="ticker">
    {% for break in breaking %}
    <span>🔥{{break.title}}</span>
    {% endfor %}
  </div>

  <!-- Header -->
  <header class="header" id="header">
    <div class="container">
      <div class="logo">NewsHub</div>
<nav class="nav">
  <a href="#" data-category="All">Home</a>
  <a href="#" data-category="Latest">Latest</a>
  <a href="#" data-category="Technology">Technology</a>
  <a href="#" data-category="World">World</a>
  <a href="#" data-category="Business">Business</a>
  <a href="#" data-category="Sports">Sports</a>
   <div class="menu-btn" id="menuBtn">☰ Menu button </div>
</nav>
    </div>

   <div class="mobile-nav" id="mobileNav">
  <a href="#" data-category="All">Home</a>
  <a href="#" data-category="Latest">Latest</a>
  <a href="#" data-category="Technology">Technology</a>
  <a href="#" data-category="World">World</a>
  <a href="#" data-category="Business">Business</a>
  <a href="#" data-category="Sports">Sports</a>
</div>
  </header>

  <!-- Main Content Placeholder -->
  <main class="content">
    {% block herosection %}
    
    {% endblock %}

   
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div>
          <h3>About</h3>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Authors</a>
          <a href="#">Careers</a>
        </div>
        <div>
          <h3>Editor's Pick</h3>
          <a href="#">India's Twin Trade Reset</a>
          <a href="#">Borders, Ballots & Balance</a>
          <a href="#">The Garden Of God.</a>
          <a href="#">Jam Boy Explores Identity</a>
        </div>

        <div>
          <h3>Follow Us</h3>
          <div class="footer-social">
            <a href="#">▶️ YouTube  </a>
            <a href="#">📸 Instagram</a>
            <a href="#">📘 Facebook </a>
            <a href="#">❌ X</a>
          </div>
        </div>

      </div>

      <div class="footer-bottom">
        © <span id="year"></span>  NewsHub. Independently owned and operated.
      </div>

    </div>
  </footer>

</div>

<button id="backToTop">↑</button>

<script src="{% static 'js/HF.js'%}"></script>
</body>
</html>