{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ganjam Today</title>
  <link rel="stylesheet" href="{% static 'css/HF.css'%}">
</head>

<body>

<div class="page-wrapper">

  <!-- Breaking News -->
  <div class="ticker">
    {% for break in breaking %}
    <span>🔥{{break.title}}</span>
    {% endfor %}
  </div>

  <!-- Header -->
 <header class="header" id="header">
  <div class="container header-flex">

    <div class="logo">Ganjam Today</div>

    <!-- Desktop Navigation -->
    <nav class="nav">
      <a href="#" data-category="All">Home</a>
      <a href="#" data-category="Technology">Technology</a>
      <a href="#" data-category="Odisha">Odisha</a>
      <a href="#" data-category="World">World</a>
      <a href="#" data-category="Business">Business</a>
      <a href="#" data-category="Sports">Sports</a>
    </nav>

    

    <!-- Mobile Menu Button -->
    <div class="menu-btn" id="menuBtn">☰</div>

  </div>

  <!-- Mobile Navigation -->
  <div class="mobile-nav" id="mobileNav">
    <a href="#" data-category="All">Home</a>
    <a href="#" data-category="Technology">Technology</a>
    <a href="#" data-category="World">World</a>
    <a href="#" data-category="Business">Business</a>
    <a href="#" data-category="Sports">Sports</a>
  </div>
</header>
 

  <!-- Main Content Placeholder -->
  <main class="content">
    {% block HFinsertion %}
    
    {% endblock %}

   
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">

      <div class="footer-top">

        <div>
          <h3>About</h3>
          <a href="aboutpage">About Us</a>
          <a href="contactpage">Contact Us</a>
          <a href="authorpage">Authors</a>
          <a href="carrerspage">Careers</a>
        </div>
        <div>
          <h3>Editor's Pick</h3>
          <a href="#">India's Twin Trade Reset</a>
          <a href="#">Borders, Ballots & Balance</a>
          <a href="#">The Garden Of God.</a>
          <a href="#">Jam Boy Explores Identity</a>
        </div>

        <div>
          <h3>Follow Us</h3>
          <div class="footer-social">
            <a href="#">▶️ YouTube  </a>
            <a href="#">📸 Instagram</a>
            <a href="#">📘 Facebook </a>
            <a href="#">❌ X</a>
          </div>
        </div>

      </div>

      <div class="footer-bottom">
        © <span id="year"></span>  Ganjam Today. Independently owned and operated.
      </div>

    </div>
  </footer>

</div>

<button id="backToTop">↑</button>

<script src="{% static 'js/HF.js'%}"></script>
</body>
</html>