{% extends 'article/HF.html' %}
{% load static %}
{% block HFinsertion %}

<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
<section class="hero">

  <!-- Slides -->
   <div class="slides">
  {% for hr in hero %}
  <div class="slide {% if forloop.first %}active{% endif %}"
       data-title="{{ hr.title }}"
       data-desc="{{  hr.description }}">
    <img src="{{ hr.image.url }}" alt="{{ hr.title }}">
  </div>
  {% endfor %}
</div>



  <!-- Content -->
  <div class="hero-content">
    <span class="badge">Breaking</span>
    <h1 id="headline"></h1>
    <p id="description"></p>
  </div>

  <!-- Controls -->
  <div class="controls">
    <div class="progress"></div>
    <div class="dots"></div>
  </div>

  <!-- Overlay -->
  <div class="overlay"></div>

</section>
</section>

{% block articlecart %}

    {% endblock %} 

<script src="{% static 'js/mainpage.js' %}"></script>
{% endblock %}