{% extends 'article/HF.html' %}
{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
{% block HFinsertion %}

<!-- <title>Premium News Hero</title> -->
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}?v=125">
<!-- </head>
<body> -->

<section class="hero">

  <!-- Slides -->
   
  <div class="slides">
    {% for hr in hero %}
    <div class="slide active" data-title={{hr.title}}
         data-desc={{hr.desctiption}}
        ><img src="{{hr.image.url}}" alt="{{hr.title}}"></div>
         {% endfor %}

    <!-- <div class="slide"
         data-title="Elections Reshape International Alliances"
         data-desc="New leadership brings strategic changes across continents."
         style="background-image:url('demo2.jpg')"></div>

    <div class="slide"
         data-title="Technology Giants Enter AI Arms Race"
         data-desc="Innovation accelerates as firms compete for dominance."
         style="background-image:url('demo3.jpg')"></div> -->
  </div>

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Content -->
  <div class="hero-content">
    <span class="badge">Breaking</span>
    <h1 id="headline"></h1>
    <p id="description"></p>

    <div class="buttons">
      <button class="primary">Read Story</button>
      -->
    </div>
  </div>

  <!-- Controls -->
  <div class="controls">
    <div class="progress"></div>
    <div class="dots"></div>
  </div>


</section>
<!-- <section>
  <div class="top-tabs">
  <button id="articlesBtn" class="active">Articles</button>
  <button id="videosBtn">Videos</button>
</div>  -->
<!-- mark -->

<!-- <section class="news-section">
  <div id="loader" class="loader-grid"></div>
  <div id="newsContainer" class="news-grid"></div>
  <p id="emptyMessage" class="empty-message">No news available.</p>
</section> -->
</section>

{% block articlecart %}

    {% endblock %} 

<script src="{% static 'js/mainpage.js' %}"></script>
{% endblock %}

 

<!-- </body>
</html> -->