{% extends 'article/mainpage.html' %}
{% load static %}
{% block articlecart %}
<link rel="stylesheet" href="{% static 'css/newslist.css' %}?v=123">
<!-- News Section -->
<section class="news-section">
  <div id="newsContainer" class="news-grid">
    <!-- ARTICLE CARD  -->
    {% for pb in page_obj %}
    <div class="news-card">
      
      <div class="news-type" style="display:none;">article</div>
      <div class="news-image">
        <img src="{{pb.image.url}}" alt="{{pb.title}}">
      </div>
      <div class="news-category">{{pb.news_catagory}}</div>
      <div class="news-title"><a href="{% url 'articlerender' pb.slug %}">{{pb.odia_title}}</a></div>
      <div class="news-author">{{pb.news_author}}</div>
      <div class="news-date">{{pb.published_date}}</div>
      <div class="news-description">{{pb.description}}</div>
      <div class="news-full" style="display:none;">Full detailed article content about AI economy impact in 2026...</div>
      <div class="news-share">
        <div class="share-btn fb">F</div>
        <div class="share-btn tw">M</div>
        <div class="share-btn mail">✉</div>
        <div class="share-btn wa">W</div>
        <div class="share-btn more">+</div>
      </div>
    </div>
{% endfor %}
</div>
<div class="pagination">
  <span class="previous_button_class">
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}"><button  type="button">Previous Page</button></a>
{% endif %}
</span>
<span class="current_page_class">
<span> Page {{ page_obj.number }}</span>
</span>
<span class="next_button_class">
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}"><button type="button">Next Page</button></a>
{% endif %}
</span>
  </div> 
</section>
<script src="{% static 'js/newslist.js' %}"></script>
{% endblock %}