{% extends 'article/mainpage.html'%}
{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <title>News Section</title> -->
 {% block articlecart%}
<link rel="stylesheet" href="{% static 'css/newslist.css'%}">
<!-- </head>

<body> -->

<!-- TOP TABS -->
<div class="top-tabs">
  <button id="articlesBtn" class="active">Articles</button>
  <button id="videosBtn">Videos</button>
</div>

<!-- NEWS SECTION -->
<section class="news-section">

  <div id="newsContainer" class="news-grid">
 {% for art in articles %}
    <!-- ARTICLE CARD -->
    <div class="news-card">

      <div class="news-type" style="display:none;">article</div>

      <div class="news-image" data="{{art.image}}">
        
      </div>

      <div class="news-category">Technology</div>

    <div class="news-author">Editorial Team</div>

      <div class="news-title">
       <span>{{art.title}}</span>
      </div>

      <div class="news-date">{{art.published_date}}</div>

      <!-- <div class="news-description">
       <span>{{art.description}}</span>
      </div> -->

      <!-- <div class="news-full" style="display:none;">
        Full detailed article content about AI economy impact in 2026...
      </div> -->

    </div>
{% endfor %}

    <!-- VIDEO CARD -->
    <div class="news-card">

      <div class="news-type" style="display:none;">video</div>

      <div class="news-image">
        <img src="https://picsum.photos/800/500?random=2">
      </div>

      <div class="news-category">World</div>

      <div class="news-title">
        Election Results Explained
      </div>

      <div class="news-author">Global Desk</div>

      <div class="news-date">Jan 18, 2026</div>

      <div class="news-description">
        Watch full breakdown of international political shifts.
      </div>

      <div class="news-full" style="display:none;">
        Video detailed explanation...
      </div>

    </div>

  </div>

</section>
{% endblock %}
<script src="{% static 'js/newslist.js'%}"></script>
<!-- </body>
</html> -->